# Dependencies & build outputs
**/node_modules/
**/target/
**/.expo/
**/.dart_tool/
**/build/

# Operating System & IDE Files
.DS_Store
Thumbs.db
*.log
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
